.pio
.vscode/.browse.c_cpp_db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# python
.venv
__pycache__/
*.py[cod]

# latex build artifacts
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz

# per request: do not track readme files
**/README.md

# assignment captures (keep folder via .gitkeep)
test_programs/captured_images/*.jpg
test_programs/captured_images/*.png
